
.selection-content{
    z-index: 10;
    position: relative;
    max-width: 1200px;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: 200PX;
}


.selection-spin{
    position: relative;
    margin: 25% auto;
    width: 100%
}