.read-content{
    z-index: 10;
    position: relative;
    max-width: 900px;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f2e8;
    padding: 64px;
    font-family: 'Microsoft YaHei',PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light',sans-serif;
    font-size: 18px;
}

.read-spin{
    position: relative;
    margin: 25% auto;
    height: 100%;
    width: 100%;
}

.read-breadcrumb{
    position: relative;
    z-index: 10;
    max-width: 900px;
    margin: 20px auto;
    padding: 0px 12px;
}

.read-content h3{
    color: black;
}

.read-text p{
    line-height: 1.8;
    color: black;
}

.read-info{
    margin-bottom: 12px;
}

.read-info span{
    padding-right: 12px;
    font-size: 16px;
}

.read-footer{
    height: 70px;
    margin-bottom: 24px;
    text-align: center;
    border: 1px solid #d8d8d8;
    max-width: 900px;
    margin: 20px auto;
    background-color: #f7f2e8;
    z-index: 10;
    position: relative;
}

.read-footer a{
    height: 100%;
    line-height: 66px;
    color: black;
    width: 33.33%;
    font-size: 20px;
    display: inline-block;
}

.read-footer a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: #3db389;
}

.read-footer a[disabled]{
    color: rgba(0, 0, 0, 0.25);
}

.read-float{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: url(//qidian.qpic.cn/qidian_common/349573/4101ab356480b3e01c81c5962caabd28/0) center 0 no-repeat;
    background-size:100% auto;
    -webkit-background-size:100% auto;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px){
    .read-content{
        padding: 24px 12px;
    }
  }